<div class="publications-container">
  <input
    type="text"
    [(ngModel)]="filter"
    placeholder="Search publications..."
    class="search-bar"
  />

  <div class="cards">
    <div class="card" *ngFor="let pub of filteredPublications()">
      <h3 class="title">{{ pub.title }}</h3>
      <p class="abstract">
        {{ pub.abstractText | slice:0:50 }}{{ pub.abstractText.length > 50 ? '...' : '' }}
      </p>
      <div class="tags">
        <span class="tag" *ngFor="let t of pub.tags">{{ t }}</span>
      </div>
      <a class="view-more" [href]="pub.link" target="_blank">View More</a>
    </div>
  </div>
</div>
